*{
    margin: 0 ;  
}


 
#header {
 background-color:rgb(254, 186, 59) ;
 padding: 7px;
 margin: 0;
    
}

#body{
    background-color: rgb(243, 220, 210);
    padding: 25px;
    padding-left: 4px;
    padding-top: 10px;

}


h2{
    color: rgb(98, 168, 249);
    padding: 15px;
    padding-left: 0;
    font-style: italic;
}

h3{
    color: rgb(98, 168, 249);
    padding: 15px;
    padding-left: 0;
}

span{
    color: rgb(98, 168, 249); 
}


p{
    margin-left: 2em;

}

